@media screen and (max-width: 735px) {
  .plan{
    display: flex;
    flex-direction: column;
  }

  .plan-title{
    margin: 30px 0;
    position: relative;
    text-align: center;

    >span{
      padding:  0 50px;
      position: relative;
      z-index: 9;
      color: #208ed3;
      background-color: #fff;
      font-size: 28px;
      font-weight: bold;
    }

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% + 5px);
      width: 100%;
      height: 4px;
      background-color: #208ed3;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: calc(50% - 7px);
      width: 100%;
      height: 4px;
      background-color: #208ed3;
    }
  }

  .plan-list{
    display: flex;
    margin: 0;
    padding: 10px;
  }

  .plan-item{
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #208ed3;
    color: #fff;
    list-style: none;
    text-align: center;

    >h3{
      margin: 20px 0;
      font-size: 26px;
    }

    >span{
      display: block;
      margin-bottom: 10px;
      line-height: 40px;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 20px;
    }

    &:nth-child(1){
      background-color: #208ed3;
    }

    &:nth-child(2){
      background-color: #6262ff;
    }

    &:nth-child(3){
      background-color: #25caa2;
    }

    &:nth-child(4){
      background-color: #f9c806;
    }
  }

  .plan-btn{
    display: block;
    margin: 40px 70px;
    height: 60px;
    background-color: #208ed3;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 28px;
  }
}

@media screen and (min-width: 736px) {
  .plan{
    display: none;
  }
}